<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
    <script src="assets/js/script.js"></script>
    <title>Exercice 1</title>
  </head>
  <body ng-app>
       <div>

       <p>En cliquant vous modifié ce chiffre {{count}}</p>
       <button ng-click="count = count +1" ng-init="count0">+</button>
       <button ng-click="count = count - 1" ng-init="count0">-</button>
      </div>
  </body>
</html>
